@font-face {
    font-family: "opensans";
    src: url("/static/assets/fonts/opensanslight.woff2") format("woff2"),
        url("/static/assets/fonts/opensanslight.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "opensans";
    src: url("/static/assets/fonts/opensans.woff2") format("woff2"),
        url("/static/assets/fonts/opensans.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "opensans";
    src: url("/static/assets/fonts/opensanssemibold.woff2") format("woff2"),
        url("/static/assets/fonts/opensanssemibold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "opensans";
    src: url("/static/assets/fonts/opensansbold.woff2") format("woff2"),
        url("/static/assets/fonts/opensansbold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "opensans";
    src: url("/static/assets/fonts/opensansextrabold.woff2") format("woff2"),
        url("/static/assets/fonts/opensansextrabold.woff") format("woff");
    font-weight: 800;
}

html {
    scroll-behavior: smooth;
}

body { 
    position: relative;
}

:root {
    font-size: 10px;

    --ff-main: "opensans";

    --fs-header: 2rem;

    --tr-hover: background-color .3s;

    --nav-h: 6.5rem;

    --br: 1.5rem;

    --p: 2rem;

    --bg-tarmeez: url("/static/assets/images/light-4.png");

    --box-shadow-light: 0 0 4px -2px black;
    --box-shadow: 0 0 10px -5px black;

    --clr-main-background: 240, 242, 245;
    --clr-secondary-background: 255, 255, 255;
    --clr-main-foreground: 5, 5, 5;
    --clr-secondary-foreground: 110, 112, 116;
    --clr-accent: 255, 225, 0;
    --clr-tarmeez: 51, 113, 112;
    --clr-tarmeez-light: 83, 185, 180;
    --clr-tarmeez-foreground: 255, 255, 255;
    --clr-logout: 225, 50, 0;
    --clr-logout-foreground: 255, 255, 255;
    --clr-hover: 242, 242, 242;
    --clr-hover: 235, 235, 235;
    --clr-icon: 98, 103, 113;
    --clr-options: 28, 29, 33;
    --clr-popup-time-background: 60, 60, 60;
    --clr-popup-time-foreground: 219, 221, 226;
    --clr-popup-background: 60, 60, 60;
    --clr-popup-foreground: 228, 230, 235;
    --clr-image-background: 176, 126, 101;

    --clr-dark-background: 255, 255, 255;




    --svg-dark-button: url("data:image/svg+xml,<svg class=" dark-mode" width=" 20" height=" 20" fill=" currentColor" xmlns=" http: //www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/></svg>");

            --svg-light-button: url("data:image/svg+xml,<svg class=" light-mode" width=" 20" height=" 20" fill=" currentColor" xmlns=" http: //www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"/></svg>");

        }

        .dark-mode {
            --bg-tarmeez: url("/static/assets/images/dark-4.png");
            --clr-main-background: 24, 25, 26;
            --clr-secondary-background: 36, 37, 38;
            --clr-main-foreground: 228, 230, 235;
            --clr-secondary-foreground: 167, 169, 173;
            --clr-accent: 255, 255, 0;
            --clr-hover: 58, 59, 60;
            --clr-disabled: 52,52,52;
            --clr-icon: 98, 103, 113;
            --clr-options: 231, 233, 236;
            --clr-popup-time-background: 202, 202, 203;
            --clr-popup-time-foreground: 5, 5, 5;
            --clr-popup-background: 202, 202, 203;
            --clr-popup-foreground: 5, 5, 5;
        }

        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
        }

        body {
            font-family: var(--ff-main);
        }

        :host {
            height: 100%;
            width: 100%;
            display: block;
        }

        .wrapper {
            width: 100%;
            height: 100%;
        }

        .position-relative {
            position: relative;
        }

        .position-fixed {
            position: fixed;
        }

        .position-absolute {
            position: absolute;
        }

        .flex {
            display: flex;
        }

        .flex-col {
            flex-direction: column;
        }

        .flex-center {
            justify-content: center;
            align-items: center;
        }

        .justify-content-start {
            justify-content: start;
        }

        .justify-content-center {
            justify-content: center;
        }

        .justify-content-end {
            justify-content: end;
        }

        .justify-space-around{
            justify-content: space-around;
        }

        .align-items-start {
            align-items: start;
        }

        .align-items-center {
            align-items: center;
        }

        .align-items-end {
            align-items: end;
        }

        .grid {
            display: grid;
        }