:host{
    display: block;
}

.col{
    /* border-radius: var(--br); */
    background-color: rgb(var(--clr-hover));
    box-shadow: var(--box-shadow-light);
}

img{
    height: 100px;
    width: 100px;
}

.number{
    font-size: 5rem;
    font-weight: 600;
}

.label{
    font-size: 1.2rem;
    color: rgb(var(--clr-options))
}

