*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host{
    display: block;
    overflow-y: hidden;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

#posts-wrapper{
 margin-bottom: 1rem;
}

