*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:host{
    display: block;
    height: 100%;
    background-color:rgb(var(--clr-main-background));
    position: relative;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.wrapper{
    height: 100%;
    width: 100%;
}

/* #root{
    padding-top: calc(var(--nav-h) + 2rem);
} */
