:host{
    display: block;
}

.nav{
    width: 100%;
    position: fixed;
    inset: 0 0 0 0;
    height: var(--nav-h);
    background-color: rgb(var(--clr-secondary-background));
    color: rgb(var(--clr-main-foreground));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 100;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    border: 0;
    padding: .6rem;
    margin-inline: 1rem;
    color: rgb(var(--clr-tarmeez));
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    transition: box-shadow .3s, scale .3s;
}

.button:hover{
    box-shadow: 0 0 15px -5px rgb(var(--clr-main-foreground));
    transform: scale(1.02);
}

.accent-button{
    background-color: rgb(var(--clr-accent));
}

.tarmeez-button{
    background-color: rgb(var(--clr-tarmeez));
    color: rgb(var(--clr-tarmeez-foreground));
}

.logout-button{
    background-color: rgb(var(--clr-logout));
    color: rgb(var(--clr-logout-foreground));
    padding-inline: .5rem;
}

.profile-link::part(wrapper){
    --s: calc(var(--nav-h) - 1rem);
    height: var(--s);
    width: var(--s);
    border-radius: 50%;
    padding: 1rem;
    box-sizing: border-box;
}

.profile-link::part(img){
    --s: calc(var(--nav-h) - 3rem);
    height: var(--s);
    width: var(--s);
    border-radius: 50%;
    object-fit: cover;
}

.hidden{
    display:none;
}

.active {
    display: block;
}