.loader-wrapper {
    position: fixed;
    inset: 0 0 0 0;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Delay visibility to match fade-out */
    z-index: 99999;
    background-color: rgb(var(--clr-secondary-background));
}

.hidden {
    opacity: 0;
    visibility: hidden; /* Ensure it's completely invisible */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease; /* Keep the fade-out animation */
}
